    body {
        background-color: #f9f0e0;
        margin: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

    .header {
        font-family: 'Abril Fatface', cursive;
        position: sticky;
        padding-top: 30px;
        padding-bottom: 40px;
        z-index: 1000;
        font-size: 50px;
        font-weight: 400px;
        color: #6ba1e9;
    }

    .header_logo {
        margin: auto;
        margin-right: 0;
    }

    .nav {
        font-size: 17px;
        text-transform: uppercase;
        font-size: 30px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .nav_link {
        color: #6ba1e9;
        text-shadow: black 1px 1px 0px;
        text-decoration: none;
        transition: color .2s linear;
        margin: 0 10px;
        display: inline-block;
        margin: auto 0;
    }

    .nav_link+.nav_link {
        margin-left: 20px;
    }
    .nav_link+.flexbox{
        margin-left: 20px;
    }

    .nav_link:hover {
        color: rgb(203, 255, 136);
        text-decoration: underline;
    }

    .header_inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .nav_link::after {
        content: " ";
        display: block;
        width: 100%;
        height: 3px;
        color: black;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        opacity: 0;
        transition: opacity .1s linear;
        text-decoration: underline;
    }

    .nav_link:hover::after {
        opacity: 1;
        color: white;
    }

    .photo {
        text-align: center;
        margin: auto;
    }

    span {
        margin-left: 5px;
        font-size: 60px;
        text-shadow: black 1px 1px 0px;
       
    }

    span:hover {
        color: rgb(203, 255, 136);
        transition: color .2s linear;
    }

    header {
        background-image: url(new_york-removebg-preview.png);
        background-size: 250px;
    }

    .flexbox {
        border:1px solid #6ba1e9;
        background: white;
        width: 150px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 70px;
        float: right;
    }

    .search div {
        margin-bottom: 20px;
        cursor: pointer;
    }

    .search>div {
        display: inline-block;
        position: relative;
        filter: drop-shadow(0 1px #6ba1e9);
    }

    .search>div:after {
        content: "";
        background: #6ba1e9;
        width: 4px;
        height: 20px;
        position: absolute;
        top: 37px;
        right: 2px;
        transform: rotate(145deg);
    }

    .search>div>input {
        color: #6ba1e9;
        font-size: 16px;
        background: transparent;
        width: 5px;
        height: 5px;
        padding: 10px;
        border: solid 3px #6ba1e9;
        outline: none;
        border-radius: 35px;
        transition: width 0.5s;
        cursor: pointer;
    }

    .search>div>input::placeholder {
        color: #6ba1e9;
        opacity: 0;
        transition: opacity 150ms ease-out;
    }

    .search>div>input:focus::placeholder {
        opacity: 1;
    }

    .search>div>input:focus,
    .search>div>input:not(:placeholder-shown) {
        width: 100px;
    }

    @media screen and (max-width: 750px) {
        .main_text, #text_inner{
            font-size: 15px !important;
        }
        .big{
            font-size: 25px !important
        }
        span{
            font-size: 45px;
        }
        header {
            background-size: 400px;
        }
        .header_inner {
            flex-direction: column;
        }
        .nav{
            font-size: 25px;
        }
        .search>div:after {
            top: 30px;
        }
        .r{
            font-size: 15px !important;
        }
    }

    .main {
        padding: 15px;
        font-family: 'Playfair Display', serif;
       
        font-weight: 600;
        font-size: 20px;
        color: black;
        text-align: justify;
    }

    .text {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #text_inner {
        margin-bottom: 15px;
    }

    .big {
        color: #6ba1e9;
        font-size: 35px;
        text-shadow: black 1px 1px 0px;
    }

    .button {
        background-color: white;
        border-radius: 40px;
        text-shadow: black 0px 0px 4px;
        width: 50px;
        height: 50px;
        margin-bottom: -300px;
        z-index: 100;
        position: relative;
        font-family: 'Abril Fatface', cursive;
        text-transform: uppercase;
        cursor: pointer;
    }

    .img {
       
        z-index: 20;
        margin-left: 10px;
        margin: 0 auto;
    }

    .img img {
        width: 100%;
    }
    .r{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 25px;
    }
    #r1, #r2{
        display: inline-block;
        margin: 25px;
        margin-bottom: 15px;
        text-align: center;
    }
   #r1{
        background-color: #d4e3f7;
        width: 300px;
        height: 150px;
        border: 1px solid black;
    }

    #r2{
        background-color: #d4e3f7;
        width: 300px;
        height: 150px;
        border: 1px solid black;
    }

    .footer {
        background-color: #8c8c8c;
        padding: 5px;
    }

    .question {
        text-align: center;
        color: white;
        text-shadow: black 1px 1px 0px;
        font-size: 20px;
        font-style: 'Playfair Display', serif;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .href {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    #socials {
        margin-left: 10px;
    }

    .href a {
        color: white;
        font-family: 'Abril Fatface', cursive;
        font-size: 20px;
        text-align: center;
    }

    .href a+a {
        margin-left: 20px;
    }

    i {
        color: white;
    }
